@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: aliceblue;
  min-height: 100vh;
  padding: 1rem;
}

/* FORM INPUT */
.input {
  border-radius: 6px;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  background: rgb(75 85 99);
  color: aliceblue;
  padding: 0.5rem;
  outline: none;
}

.input:hover {
  border: 1px solid rgb(229 231 235);
}

/* HOMEPAGE LAYOUT */
.homepageGrid {
  display: grid;
  grid-template-columns: 1fr;
}

.profileGrid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .homepageGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1000px;
    margin: auto;
  }

  .profileGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    margin: auto;
  }
}
